.oreng-colar {
    color: gold;
}

section {
    display: flex;
}

.haif-width {
    width: 50%;
    mask-image: 50%;

}

.add {
    background-image: linear-gradient(yellow, green);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}

.mx {
    color: white;
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
}

body {
    font-family: 'PT Serif', serif;
}